<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDeDados.Properties.Settings.StringConexao"
            connectionString="Data Source=SQL;Initial Catalog=db01;User Id=db_01;Password=xxxxxxxxxxx" />
    </connectionStrings>
</configuration>